<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
 <connectionStrings>
   <add name="TimeSpent" connectionString="Data Source=.\sqlexpress;Initial Catalog=TimeSpent;Integrated Security=True;" providerName="System.Data.SqlClient" />
 </connectionStrings>

<system.serviceModel>
  <services>
    <service name="TimeSpent.Business.Managers.TimeEntryManager">
      <endpoint address ="net.tcp://localhost:8009/TimeEntryService"
                binding="netTcpBinding"
                contract ="TimeSpent.Business.Contracts.ITimeEntryService"    />
    </service>
    <service name="TimeSpent.Business.Managers.CategoryManager">
      <endpoint address ="net.tcp://localhost:8009/CategoryService"
                binding="netTcpBinding"
                contract ="TimeSpent.Business.Contracts.ICategoryService"    />
    </service>
    <service name="TimeSpent.Business.Managers.ProjectManager">
      <endpoint address ="net.tcp://localhost:8009/ProjectService"
                binding="netTcpBinding"
                contract ="TimeSpent.Business.Contracts.IProjectService"    />
    </service>
   <service name="TimeSpent.Business.Managers.AccountManager">
      <endpoint address ="net.tcp://localhost:8009/AccountService"
                binding="netTcpBinding"
                contract ="TimeSpent.Business.Contracts.IAccountService"    />
    </service>
  </services>
<bindings>
  <netTcpBinding>
    <binding maxReceivedMessageSize="2000000" transactionFlow="true">
      <reliableSession enabled="true" />
    </binding>
  </netTcpBinding>
</bindings>
  <behaviors>
    <serviceBehaviors>
      <behavior>
        <serviceDebug includeExceptionDetailInFaults="true"/>
      </behavior>
    </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="endpointBehavior">
        <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
      </behavior>
    </endpointBehaviors>
  </behaviors>
</system.serviceModel>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

</configuration>